.w{
    width: 1200px;
    margin: 0 auto;
}
header{
    height: 84px;
    border-bottom: 2px solid #f10215;
}
.logo{
    padding-top: 18px;
}
.registerarea{
    height: 522px;
    margin-top: 20px;
    border: 1px solid #ccc;
}
.registerarea h3{
    font-size: 18px;
    font-weight: 400;
    line-height: 43px;
    padding: 0 14px;
    height: 42px;
    border-bottom: 1px solid #ccc;
    background-color: #ececec;
}
.login{
    float: right;
    font-size:14px
}
.login a{
    color: red;
}
.reg_form{
    width: 600px;
    margin: 50px auto 0;
}
.reg_form ul li{
    margin-bottom: 20px;
}
.reg_form ul li label{
    display: inline-block;
    width: 88px;
    text-align: right;
}
.reg_form ul li .inp{
    width: 242px;
    height: 37px;
    border: 1px solid #ccc;
}
.error{
    color: red;
}
.error_icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background:url("../images/error_03.png") no-repeat;
    margin-top: -2px;
}
.success{
    color: green;
}
.success_icon{
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    background:url("../images/success_03.png") no-repeat;
    margin-top: -2px;
}
.safe{
    padding-left: 170px;
}
.safe em{
    padding: 0 12px;
    color: #fff;
}
.ruo{
    background-color: #de1111;
}
.zhong{
    background-color: #f79100;
}
.qiang{
    background-color: #40b83f;
}
.agree{
    padding-left: 100px;
}
.agree input{
    margin-right: 5px;
    vertical-align: middle;
}
.agree a{
    color: skyblue;
}
.btn{
    width: 200px;
    height: 34px;
    background-color: #f10215;
    font-size: 14px;
    color: #fff;
    margin-top: 30px;
    margin-left: 70px;
}
.mod_copyright{
    padding-top: 20px;
    text-align: center;
}
.mod_copyright .links{
    /*margin-bottom: 15px;*/
}
.mod_copyright .copyright{
    line-height: 20px;
}